In [1]:
import pandas as pd
import numpy as np

In [2]:
# load csv into dataframe
loans = pd.read_csv('loans.csv')

In [3]:
#show
loans

    id  user_id created_at                     status       type
0    1      100  4/21/2017     prequal_completd_offer  Refinance
1    2      100  4/27/2017             offer_accepted  Refinance
2    3      101  4/22/2017  prequal_completd_no_offer  Refinance
3    4      101  4/23/2017             offer_accepted  Refinance
4    5      101  4/25/2017             offer_accepted   Personal
5    6      102  4/27/2017             offer_accepted   InSchool
6    7      107  4/27/2017  prequal_response_received   Personal
7    8      108  4/21/2017           form_in_progress  Refinance
8    9      108  4/27/2017             offer_accepted  Refinance
9   10      108  4/27/2017  prequal_response_received   InSchool
10  11      100  4/21/2015     prequal_completd_offer  Refinance

Write a query that returns the user ID of all users that have created at least one ‘Refinance’ submission and at least one ‘InSchool’ submission.

In [4]:
# create list of users that created Refinance submission
users1 = []
for index, row in loans.iterrows():
    if row['type'] == 'Refinance' :
        users1.append(row['user_id'])
        
#show
users1

[100, 100, 101, 101, 108, 108, 100]

In [5]:
# create list of users that created 'InSchool' submission
users2 = []
for index, row in loans.iterrows():
    if row['type'] == 'InSchool':
        users2.append(row['user_id'])
        
#show
users2

[102, 108]

In [6]:
# convert lists to set to allow intersection method and also return only unique users
users1 = set(users1)
users2 = set(users2)
users= users1.intersection(users2)

In [7]:
#convert set to list
users = list(users)

In [8]:
#result
users

[108]